{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="buy" placeholder="Symbol" type="text">
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="count" placeholder="Number of Stocks" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Buy!</button>
    </form>
{% endblock %}
